
# Module 3: Data Structures Assignments
## Lesson 3.3: Sets
### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

In [9]:
set_a = set({})

for i in range(1,11):
    set_a.add(i)

print(set_a)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}



### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

In [ ]:
set_a.add(11)
set_a.remove(1)
print(set_a)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11}


### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

In [4]:
set1 = {1,2,3,4,5}
set2 = {2,4,6,8,10}

print(set1.union(set2))
print(set1.intersection(set2))
print(set1.difference(set2))
print(set1.symmetric_difference(set2))

{1, 2, 3, 4, 5, 6, 8, 10}
{2, 4}
{1, 3, 5}
{1, 3, 5, 6, 8, 10}


### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

In [5]:
set1 = {x**2 for x in range(1,11)}
print(set1)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}


### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

In [11]:
new_set = {x for x in set_a if x%2==0}
print(new_set)

{2, 4, 6, 8, 10}



### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

In [12]:
duplicate_set = {1,3,4,5,6,6}
remove_dupes = set(duplicate_set)
print(remove_dupes)

{1, 3, 4, 5, 6}


### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

In [14]:
set_b = {1,2,3,4,5}
set_c = {1,2,3}

print(set_c.issubset(set_b))
print(set_b.issuperset(set_c))

True
True


### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

In [2]:
set0 = {1,2,3,4,5}
frozen_set = frozenset(set0)
print(frozen_set)

frozenset({1, 2, 3, 4, 5})


### Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

In [4]:
set_as_list = list(set0)
set_as_list.append(6)
back_to_set = set(set_as_list)
print(back_to_set)

{1, 2, 3, 4, 5, 6}


### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

In [5]:
dictionary = {frozenset({1,0}):1,frozenset({1,3}):2,frozenset({1,2}):3}

print(dictionary)

{frozenset({0, 1}): 1, frozenset({1, 3}): 2, frozenset({1, 2}): 3}


### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

In [6]:
set_e = {1,3,5,6,8}
for i in set_e:
    print(i)

1
3
5
6
8


### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

In [8]:
set_f = {2,4,5}

while len(set_f)>0:
    set_f.pop()
    print(set_f)

{4, 5}
{5}
set()


### Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

In [13]:
set_g = {1,2,3,4,5,6}
set_h = {4,6,8,10}
sym_diff = set_g.symmetric_difference_update(set_h)
print(sym_diff)
print(set_g)

None
{1, 2, 3, 5, 8, 10}


### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

In [15]:
set_h = {4,6,8,10}
4 in set_h
3 in set_h

False


### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

In [16]:
set_of_tuples = {(4,8),(8,4),(9,0),(0,9)}

print(set_of_tuples)

{(8, 4), (9, 0), (0, 9), (4, 8)}